---
import Prose from '@/components/Prose.astro'
import WidgetTitle from '@/components/widget/WidgetTitle.astro'

export interface Props {
  prose?: boolean
  title?: string
}

const { prose = true, title } = Astro.props
---

<div class="text-base">
  {title ? <WidgetTitle>{title}</WidgetTitle> : null}
  <Prose
    as="div"
    class:list={[!prose ? 'not-prose' : null]}
  >
    <slot />
  </Prose>
</div>
