---
import WidgetTitle from './WidgetTitle.astro';

export interface Props {
  prose?: boolean;
  title?: string;
}

const { prose = true, title } = Astro.props;
---

<div class="text-base">
  {title ? <WidgetTitle>{title}</WidgetTitle> : null}
  <div class:list={[prose ? 'prose' : null]}>
    <slot />
  </div>
</div>
