---
import Widget from '@/components/widget/Widget.astro'

const today = new Date()
---

<footer role="contentinfo">
  <slot />

  <aside
    id="footer-widgets"
    role="complementary"
  >
    <div class="px-6 2xl:container 2xl:mx-auto">
      <div
        class="widget-area grid grid-cols-1 gap-6 border-t border-gray-200 py-8 md:grid-cols-3 md:gap-16 lg:py-16"
      >
        <Widget title="Who We Are">
          <p>
            We are a family of believers who seek to honor God in our daily lives by focusing on
            God’s Word, loving each other and prayerfully sharing the Gospel of Jesus Christ.
          </p>
        </Widget>

        <Widget title="The Berean Name">
          <p>
            In Acts 17, a group of believers in Berea were said to have "…received the message with
            great eagerness and examined the Scriptures every day to see if what Paul said was
            true."
          </p>
        </Widget>

        <Widget title="Sunday Worship">
          <p>Every Sunday morning at our church facility from 9:30-11:00 a.m.</p>
        </Widget>
      </div>
    </div>
  </aside>

  <section
    id="site-credits"
    class="text-sm"
  >
    <div class="px-6 2xl:container 2xl:mx-auto">
      <div class="border-t border-gray-200 py-8">
        &copy; Berean Bible Church {today.getFullYear()}
      </div>
    </div>
  </section>
</footer>
