<aside
  id="main-sidebar"
  class="relative py-8 md:col-span-2 lg:col-span-1 lg:py-16"
  role="complementary"
>
  <div class="widget-area">
    <div class="widget widget_nav_menu mt-16 first:mt-0">
      <slot />
    </div>
  </div>

  <span
    class="absolute -left-16 top-0 bottom-0 my-8 hidden border-l border-gray-200 lg:my-16 lg:block"
    role="separator"></span>
</aside>
