---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

import Body from '../components/layout/Body.astro';
import Footer from '../components/layout/Footer.astro';
import Head from '../components/layout/Head.astro';
import Header from '../components/layout/Header.astro';
import Hero from '../components/Hero.astro';
import Html from '../components/layout/Html.astro';
---

<Html>
  <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />

  <Body>
    <Header>
      <Hero image="/bbc-hero.jpg" />
    </Header>
    <Footer />
  </Body>
</Html>
