---
export interface Breadcrumb {
  href: string | URL
  label: string
}

export interface Props {
  links: Breadcrumb[]
}

const { links } = Astro.props
---

<section
  class="bg-secondary-200 text-secondary-800 relative py-4 font-sans text-xs tracking-widest uppercase"
>
  <div class="flex gap-3 px-6 2xl:container 2xl:mx-auto">
    {
      links.map((link: Breadcrumb, idx: number) => {
        const isLast = idx === links.length - 1
        return (
          <>
            {!isLast ?
              <>
                <span>
                  <a href={link.href}>{link.label}</a>
                </span>
                <span class="sep">⟩</span>
              </>
            : <span
                class="breadcrumb_last"
                aria-current="page"
              >
                {link.label}
              </span>
            }
          </>
        )
      })
    }
  </div>
</section>
