---
export interface Props {
  image: string;
  imageAlt?: string;
}

const { image, imageAlt = '' } = Astro.props;
---

<section id="hero" class="relative z-10">
  <div class="relative z-10 px-6 lg:container xl:px-0">
    <figure class="flex items-center overflow-hidden rounded bg-gray-900 shadow-md">
      <img class="aspect-[8/3] object-cover" decoding="async" src={image} alt={imageAlt} />
    </figure>
  </div>

  <div class="absolute bottom-0 left-0 right-0 h-12 bg-white"></div>
</section>
