---
import FacebookIcon from '@/components/icons/FacebookIcon.astro'
import MenuIcon from '@/components/icons/MenuIcon.astro'

const { pathname } = Astro.url
const links = [
  { href: '/', label: 'Home' },
  { href: '/about', label: 'About' },
  { href: '/calendar', label: 'Calendar' },
  { href: '/missions', label: 'Missions' },
  { href: '/sermons', label: 'Sermons' },
  { href: '/contact', label: 'Contact' },
]

function isActiveLink(href: string, pathname: string): boolean {
  return href === pathname || href === pathname.replace(/\/$/, '')
}
---

<section
  id="primary-nav"
  class="sticky top-0 z-30 bg-white text-gray-900 shadow-sm"
>
  <div
    class="flex items-center justify-between py-1 pr-2 lg:px-6 lg:py-0 2xl:container 2xl:mx-auto"
  >
    <button
      id="nav-toggle"
      class="focus:text-primary-600 flex items-center gap-1 rounded-none bg-transparent px-3 py-2 font-sans leading-none text-gray-900 uppercase lg:hidden"
    >
      <MenuIcon class="inline-block h-6 w-6" />
      <span class="inline-block text-xs">Menu</span>
    </button>
    <nav
      class="hidden lg:block"
      role="navigation"
    >
      <ul
        class="absolute top-full right-0 left-0 list-none divide-y divide-gray-100 bg-gray-200 font-sans lg:static lg:-mx-4 lg:flex lg:divide-y-0 lg:bg-transparent lg:text-inherit lg:shadow-none"
      >
        {
          links.map((link) => {
            const isActive = isActiveLink(link.href, pathname)

            return (
              <li class:list={['relative', isActive ? 'text-primary-500' : '']}>
                <a
                  class="hover:text-primary-500 relative block px-4 py-4 text-sm leading-tight tracking-widest uppercase"
                  href={link.href}
                >
                  {link.label}
                </a>
              </li>
            )
          })
        }
      </ul>
    </nav>

    <a
      href="https://www.facebook.com/bbcmonticello/"
      aria-label="Facebook"
    >
      <FacebookIcon class="h-6 w-6" />
    </a>
  </div>
</section>

<script is:inline>
  const nav = document.querySelector('#primary-nav nav')
  const toggle = document.getElementById('nav-toggle')

  const onClick = () => {
    nav?.classList.toggle('hidden')
    // Optional a11y:
    const expanded = toggle?.getAttribute('aria-expanded') === 'true'
    toggle?.setAttribute('aria-expanded', expanded ? 'false' : 'true')
  }

  toggle?.addEventListener('click', onClick)
</script>
