---
const { title } = Astro.props;
---

<div class="mb-6 text-base">
  <h2 class="mb-6 font-sans text-sm font-bold uppercase tracking-widest text-gray-900">
    {title}
  </h2>
  <div class="textwidget">
    <div class="prose">
      <slot />
    </div>
  </div>
</div>
