---
import Body from '../components/layout/Body.astro';
import Content from '../components/layout/Content.astro';
import EntryTitle from '../components/entry/EntryTitle.astro';
import Footer from '../components/layout/Footer.astro';
import Head from '../components/layout/Head.astro';
import Header from '../components/layout/Header.astro';
import Html from '../components/layout/Html.astro';
import Main from '../components/layout/Main.astro';

export interface Props {
  content: {
    description: string;
    title: string;
  };
}

const {
  content: { description, title },
} = Astro.props;

const breadcrumbs = [
  { label: 'Home', href: '/' },
  { label: title, href: Astro.url },
];
---

<Html>
  <Head title={title} description={description} />

  <Body>
    <Header breadcrumbs={breadcrumbs} />
    <Content>
      <Main>
        <article>
          <header>
            <EntryTitle>{title}</EntryTitle>
          </header>
        </article>
        <div class="prose mt-6 max-w-none">
          <slot />
        </div>
      </Main>
    </Content>
    <Footer />
  </Body>
</Html>
